*{
    padding: 0;
    margin:0;
}
body{
    background-color: #F9ED69 ;
}
#title{
    color: #F9ED69;
    width: 500px;
    border: 5px #6A2C70 solid;
    border-radius: 5px;
    margin: 15px auto;
    padding: 50px 10px;
    background-color: #B83B5E ;
    text-align: center;
}
.container {
    border: #B83B5E 5px solid;
    width: 500px;
    margin: auto;
    padding:25px 10px;
    background-color: #F08A5D;
}
ul{
    padding: 0 15px;
}